

.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.table {
    display: table;
}

.fl {
    float: left;
}

.mt20 {
    margin-top: 20px;
}

.table-row {
    display: table-row;
}

.absolute {
    position: absolute
}

.height {
    height: 400px;
}

.inline-block {
    display: inline-block;
}

.parent {
    width: 200px;
    height: 200px;
    border: 1px solid #cccccc;
}

.child-block {
    width: 100px;
    height: 100px;
    background:red; 
}

.container {
    width: 400px;
    border: 2px solid rebeccapurple;
}